:root {
    /* Midnight Library */
    --Deep_Blue: #1c1c2d;
    --Lumpy_Space: #4b3d6f;
    --Bubblegum: #a67c9d;
    --Peach: #d9c6b2;
    --Soft_Rose:#f2e1d4;
  }


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
}
.Intro{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
Intro-nav{
    height: 10vh;
}
.Intro-text{
    height:90vh;
}

.Mid{
    width: 100vw;
    height: 100vh;
    background-color: red;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
